$white:#F8F8F8;
$white-grey:#F8F8F8;
$pink:#F761A7;
$purple:#B746E0;
$purple2:#C14BD8;
$grey: #514F4F;
$blue:#015BC3;
$card-sky-blue:#25BEBF;
$card-blue-purple:#01366F;
$card-lavand:#6875F6;
$card-purple:#6118D8;