.contacto-section-1{
    @include flex(row,center,center);
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/contacto_sections/fondo-s1-contacto.png);
    background-size: cover;
    background-repeat: no-repeat;
    .s1-contacto-sec1{
        text-align: center;
        width: 650px;
        h1{
            text-align: center;
            font-family: "Poppins", sans-serif;
            font-weight: bold;
            font-size: 3rem;
            color: $white;
            padding: .625rem 6.5rem;
            border: none;
            background-image: linear-gradient(to right, $pink, $purple);
            border-radius: 3.125rem;
            border-color: $white;
            border-width: .4875rem;
            border-style:solid;
            filter: drop-shadow(2px 8px 5px rgba(0, 0, 0, 0.241));
        }
        p{
            font-family: "Poppins", sans-serif;
            font-weight: bold;
            font-size: 1.5rem;
            color: $white;
            padding-top: 1.25rem;
        }
    }
}

.sec2-nosotros{
    @include flex(column,center,center);
    gap: 1.25rem;
    padding-top: 1.25rem;
    .text1-sec2-nosotros{
        h2{
            text-align: center;
            font-family: "Poppins", sans-serif;
            font-weight: bold;
            font-size: 3rem;
            color: $pink;
            padding: .625rem 6.5rem;
        }
        p{
            text-align: center;
            font-family: "Poppins", sans-serif;
            font-weight: bold;
            font-size: 1.5rem;
            color: $grey;
            padding: .625rem 6.5rem;
        }
    }
}

.form-contacto{
    @include flex(row,center,center);
    .size-form{
        width: 80%;
        align-items: center;
        justify-content: center;
        text-align: center;
        #form-style {
            border: 4px solid $pink;
            border-radius: 3.125rem;
            background-color: $white-grey;
            filter: drop-shadow(2px 8px 5px rgba(0, 0, 0, 0.241));
            padding: 1.25rem 1.25rem 1.05rem 2.25rem;
            &::-webkit-input-placeholder {
                color: $grey;
                font-family: "Poppins", sans-serif;
                font-weight: bold;
                font-size: 1.5rem;
            }
            
        }
        .btn-form{
            text-align: center;
            font-family: "Poppins", sans-serif;
            font-weight: bold;
            font-size: 2rem;
            color: $white;
            background-image: linear-gradient(to right, $pink, $purple);
            width: 23.75rem;
            margin-top: 50px;
            border: 4px solid $white;
            border-radius: 50px;
            padding: 20px;
            filter: drop-shadow(2px 8px 5px rgba(0, 0, 0, 0.241));
        }
    }
}