.cuerpo {
    background-image: url(../assets/img/Figurafondo.png);
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position-y: -100px;
    .inicio-section-1{
        @include flex(row,center,center);
        flex-wrap: wrap;
        padding-top: 12.5rem;
        .txt-sec1{
            width: 31.25rem;
            h1{
                font-family: "Poppins", sans-serif;
                font-weight: bold;
                font-size: 3rem;
                color: $white;
                filter: drop-shadow(2px 8px 5px rgba(0, 0, 0, 0.241)); 
            }
            p{
                font-family: "Poppins", sans-serif;
                font-size: 1.5rem;
                color: $white;
                filter: drop-shadow(2px 8px 5px rgba(0, 0, 0, 0.241));
            }
        }
        .img-sec1{
            width: 31.25rem;
            img{
                width: 100%;
            }
        }
        button{
            padding: .625rem .1875rem;
            border: none;
            background-image: linear-gradient(to right, $pink, $purple);
            border-radius: 3.125rem;
            border-color: $white;
            border-width: .1875rem;
            border-style:solid;
            filter: drop-shadow(2px 8px 5px rgba(0, 0, 0, 0.241));
            a{
                text-decoration: none;
                font-family: "Poppins", sans-serif;
                font-weight: bold;
                font-size: 1.5rem;
                color: $white;
                margin: 1.25rem 4rem;
            }
        }
        
    }

    .inicio-section-2 {
        @include flex(column,center,center);
        text-align: center;
        flex-wrap: wrap;
        button{
            padding: .625rem .1875rem;
            border: none;
            background-image: linear-gradient(to right, $pink, $purple);
            border-radius: 3.125rem;
            border-color: $white;
            border-width: .1875rem;
            border-style:solid;
            filter: drop-shadow(2px 8px 5px rgba(0, 0, 0, 0.241));
            a{
                text-decoration: none;
                font-family: "Poppins", sans-serif;
                font-weight: bold;
                font-size: 1.5rem;
                color: $white;
                margin: 1.25rem 30rem;
            }
        }
        .txt-sec2{
            margin: 10.625rem 0rem 4rem;
            width: 70%;
            h2{
                font-family: "Poppins", sans-serif;
                font-weight: bold;
                font-size: 3rem;
                color: $pink;
            }
            p{
                font-family: "Poppins", sans-serif;
                font-weight: bold;
                font-size: 1.5rem;
                color: $grey;
                margin-bottom: 1.25rem;
            }
        }

        .txt-sec22{
            width: 70%;
            h2{
                font-family: "Poppins", sans-serif;
                font-weight: bold;
                font-size: 3rem;
                color: $pink;
            }
            p{
                font-family: "Poppins", sans-serif;
                font-weight: bold;
                font-size: 1.5rem;
                color: $grey;
                margin-bottom: 1.25rem;
            }
        }
    }
    
    .inicio-section-3 {
        margin-top: 10.625rem;
        @include flex(column,center,center);
        text-align: center;
        flex-wrap: wrap;
        .txt-sec3{
            width: 70%;
            h4{
                font-family: "Poppins", sans-serif;
                font-weight: bold;
                font-size: 3rem;
                color: $purple;
            }
            p{
                font-family: "Poppins", sans-serif;
                font-weight: bold;
                font-size: 1.5rem;
                color: $grey;
                margin-bottom: 1.25rem;
            }
        }
        
    }
    
    .inicio-section-4{
        @include flex(row,center,center);
        align-items: center;
        flex-wrap: wrap;
        padding-top: 9.375rem;
        .inicio-section-4-text{
            width: 31.25rem;
            h4{
                font-family: "Poppins", sans-serif;
                font-weight: bold;
                font-size: 3rem;
                color: #015BC3;
                width: 25rem;
            }
            p{
                font-family: "Poppins", sans-serif;
                font-weight: bold;
                font-size: 1.5rem;
                color: #514F4F;
                width: 30rem;
            }
        }
        .inicio-section-4-img{
            width: 31.25rem;
        }
        
    }
    
    .inicio-section-5{
        @include flex(column,center,center);
        flex-wrap: wrap;
        padding-top: 12.5rem;
        .txt-sec5{
            width: 70%;
            h4{
                font-family: "Poppins", sans-serif;
                font-weight: bold;
                font-size: 3rem;
                color: #BC52E2;
                text-align: center;
            }
            p{
                font-family: "Poppins", sans-serif;
                font-weight: bold;
                font-size: 1.5rem;
                color: #514F4F;
                text-align: center;
            }
        }
    }
    
    
    
    
}
